.project
.settings/*
Referenced Packages
build.properties
.checkstyle
src/documents/*
src/documents/Search/*
src/documents/Buttonsdonotdelete/*
config/.debug
config/.describe
config/.local_store
config/.session
config/.settings
src/layouts/PMF_Finca_Categoria_11_Alm_cigo__c-PMF Finca Categoria 11 - Almácigo Layout.layout
Grameen Salesforce.sublime-project
Grameen Salesforce.sublime-settings
Grameen Salesforce.sublime-workspace
*.sublime-project
