<script type="text/javascript" src="/js/functions.js"></script>
<script src="/soap/ajax/8.0/connection.js"></script>
{!INCLUDE($SControl.RecordTypesLookup)}

<script language="JavaScript">
function redirect() {
	var DonationRecordType  = recordTypeId("Grant","Opportunity"); 
	
parent.frames.location.replace("/006/e?retURL=%2F{!Account.Id}&RecordType="+DonationRecordType+ "&accid={!Account.Id}&opp3={!Account.Name} Grant Application - {!Today}&opp11=Prospecting")
}
redirect();
</script>