<script type="text/javascript" src="/js/functions.js"></script>
<script src="/soap/ajax/8.0/connection.js"></script>
{!INCLUDE($SControl.RecordTypesLookup)}

<script language="JavaScript">
function redirect() {
	var DonationRecordType  = recordTypeId("Membership","Opportunity"); 
	
parent.frames.location.replace("/006/e?retURL=%2F{!Contact.Id}&RecordType="+DonationRecordType+ "&conid={!Contact.Id}&opp3={!Contact.FirstName} {!Contact.LastName} Membership - {!Today}&opp9={!Today}&opp11=Posted")
}
redirect();
</script>