<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!--
Household Address Updater for Salesforce.com
Copyright (C) 2005 Steve Andersen, steve@onenw.org, ONE/Northwest, 1402 Third Ave, Suite 1000, Seattle, WA, 98101

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

Everyone is permitted to copy and distribute verbatim copies
of this license document, but changing it is not allowed.
---------------------------------------------------------------------
Description: This S-Control is built to be used as a hyperlink field. It will move addresses between Households and Contacts.
Last Modified: 2/06/2006-->
<html>
	<head>
		<title>Household Address Copier - Powered by the Sforce AJAX Toolkit (Beta 3.3)</title>
		
	<script src="https://www.salesforce.com/services/lib/ajax/beta3.3/sforceclient.js" type="text/javascript"></script>
	<link href="/css/ie_global.css" rel="stylesheet" type="text/css">
	<link href="/css/ie_navigation.css" rel="stylesheet" type="text/css">
	<link href="/css/opportunities_styles.css" rel="stylesheet" type="text/css">
	
		
	<script type="text/javascript">
		/****************************************************************
		* Main function called on page load
		*****************************************************************/
		function initPage() {	
			
			//info("Got inside init()");
			//Proof of session when used in salesforce.com interface
			 //Initialize the connection to salesforce.com by setting the sessionid and the
			//soap endpoint in the init call
			sforceClient.setLoginUrl("https://www.salesforce.com/services/Soap/u/7.0");
			sforceClient.registerInitCallback(startUp);
			sforceClient.init("{!API_Session_ID}", "{!API_Partner_Server_URL_70}", false);
			//Get the current contact id from the session
		}

		function startUp() {
			/****************************************************************
			* Set constants that may differ for your salesforce.com setup
			*****************************************************************/
			//base URL for salesforce.com
			var sfRootURL = 'https://na1.salesforce.com/';
			
			/****************************************************************
			* Main function called on page load
			*****************************************************************/
			
			//alert(document.getElementById("address").value);
			
			// Parse the quesry string for the type variable
			var ThisQuerystring = new Querystring(parent.document.URL.substring(parent.document.URL.indexOf('?'), parent.document.URL.length));
			var Direction = ThisQuerystring.get("direction", "toContact");
			
			if ("{!Contact_ID}"!="") {
				var ContactID = "{!Contact_ID}";
				var HouseholdID = "{!Contact_ONEN_Household_ID}";
			} else {
				var ContactID = "";
				var HouseholdID = "{!ONEN_Household_ID}";
			}
					
			
			//if type was passed as individual
			if (Direction=="toContact") {
			
				var CurrentHousehold = sforceClient.Query("Select MailingStreet__c, MailingCity__c, MailingState__c, MailingPostalCode__c, MailingCountry__c from ONEN_Household__c where Id='" + HouseholdID + "'");
				//put the response record in an array
				CurrentHouseholdArray = CurrentHousehold.records;
				if (CurrentHouseholdArray.length>0) {
					if (ContactID!="") {
						var Contact = new Sforce.Dynabean("Contact");
						ThisHousehold = CurrentHouseholdArray[0];
						Contact.set("Id", ContactID);
						Contact.set("MailingStreet", ThisHousehold.get("MailingStreet__c"));
						Contact.set("MailingCity", ThisHousehold.get("MailingCity__c"));
						Contact.set("MailingState", ThisHousehold.get("MailingState__c"));
						Contact.set("MailingPostalCode", ThisHousehold.get("MailingPostalCode__c"));
						Contact.set("MailingCountry", ThisHousehold.get("MailingCountry__c"));
												
						//drop the object into an array
						var ContactArray = new Array(1);
						ContactArray[0] = Contact;			
						//Call create on the Opportunity.
					
						var ContactSaveResult = sforceClient.Update(ContactArray);
						
						if (ContactSaveResult[0].success == true) {
							top.location.replace("/" + ContactID);
						} else {
							error("Error!");
						}
					} else {
						var HouseholdContacts = sforceClient.Query("Select Id from Contact where ONEN_Household__c='" + HouseholdID + "'");
						//put the response record in an array
						HouseholdContactsArray = HouseholdContacts.records;
						for(ContactRow=0;ContactRow<HouseholdContactsArray.length;ContactRow++) {
							ThisContact = HouseholdContactsArray[ContactRow];					
							//Get the object from the first record in the array
							ThisHousehold = CurrentHouseholdArray[0];
							var Contact = new Sforce.Dynabean("Contact");
							
							Contact.set("Id", ThisContact.get("id"));
							Contact.set("MailingStreet", ThisHousehold.get("MailingStreet__c"));
							Contact.set("MailingCity", ThisHousehold.get("MailingCity__c"));
							Contact.set("MailingState", ThisHousehold.get("MailingState__c"));
							Contact.set("MailingPostalCode", ThisHousehold.get("MailingPostalCode__c"));
							Contact.set("MailingCountry", ThisHousehold.get("MailingCountry__c"));
													
							//drop the object into an array
							var ContactArray = new Array(1);
							ContactArray[0] = Contact;			
							//Call create on the Opportunity.
						
							var ContactSaveResult = sforceClient.Update(ContactArray);
							
							if (ContactSaveResult[0].success == true) {
							} else {
								error("Error!");
							}	
						}
						top.location.replace("/" + HouseholdID);

					}
				} else {
					alert("No household related to this Contact.");
				}
				
			} else if (Direction=="toHousehold") {
				
				var Household = new Sforce.Dynabean("ONEN_Household__c");
				
				Household.set("Id", HouseholdID);
				
				Household.set("MailingStreet__c", document.getElementById("address").value);
				Household.set("MailingCity__c", "{!Contact_MailingCity}");
				Household.set("MailingState__c", "{!Contact_MailingState}");
				Household.set("MailingPostalCode__c", "{!Contact_MailingPostalCode}");
				Household.set("MailingCountry__c", "{!Contact_MailingCountry}");
				//drop the object into an array
				var HouseholdArray = new Array(1);
				HouseholdArray[0] = Household;			
				//Call update the Household.
				
				var HouseholdSaveResult = sforceClient.Update(HouseholdArray);
					
				if (HouseholdSaveResult[0].success == true) {
					top.location.replace("/" + HouseholdID);

				} else {
					alert("Error!");
				}	
			}
			
		}			
		
		/* Client-side access to querystring name=value pairs
			Version 1.2.3
			22 Jun 2005
			Adam Vandenberg
		*/
		function Querystring(qs) { // optionally pass a querystring to parse
			this.params = new Object()
			this.get=Querystring_get
			
			if (qs == null)
				qs=location.search.substring(1,location.search.length)
		
			if (qs.length == 0) return
		
		// Turn <plus> back to <space>
		// See: http://www.w3.org/TR/REC-html40/interact/forms.html#h-17.13.4.1
			qs = qs.replace(/\+/g, ' ')
			var args = qs.split('&') // parse out name/value pairs separated via &
			
		// split out each name=value pair
			for (var i=0;i<args.length;i++) {
				var value;
				var pair = args[i].split('=')
				var name = unescape(pair[0])
		
				if (pair.length == 2)
					value = unescape(pair[1])
				else
					value = name
				
				this.params[name] = value
			}
		}
		
		function Querystring_get(key, default_) {
			// This silly looking line changes UNDEFINED to NULL
			if (default_ == null) default_ = null;
			
			var value=this.params[key]
			if (value==null) value=default_;
			
			return value
		}
</script>

	</head>
	<body onLoad="initPage();">
	<textarea id="address" style="display: none">{!Contact_MailingStreet}</textarea>
	
	</body>

</html>