<script type="text/javascript" >
function recordTypeId(recordtypename,objectname) {
	var result = sforce.connection.query("Select r.Id, r.Name, r.SobjectType from RecordType r where r.IsActive=true and r.SobjectType='"+ objectname +"'"); 

	var recs = result.getArray("records"); 

	for ( var j=0; j<recs.length; j++) {
		if (recordtypename == recs[j].Name) return recs[j].Id;
	}

	return null;
} 
</script>